---
title: Blogthing
layout: default
---
<div id="row">
    <div class="span two"></div>
    <div class="span six">
        <h4>Recent Posts</h4>
        {% for post in site.posts %}
            {% if post.layout == 'post' %}
                <div class="post">
                    <div class="post-title">
                        <a href="{{ post.url }}">
                            <span>{{ post.title }}</span>
                        </a>
                        <span>-- {{ post.date | date_to_string | replace:' ','&nbsp;' }}</span>
                    </div>
                    <div class="excerpt">
                        <p>{{ post.excerpt }}<a href="{{ post.url }}"> (read more)</a></p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="span two"></div>
</div>
