---
title: Blogthing
layout: index
---

<div id="posts">
    {% for post in site.posts %}
        {% if post.layout == 'post' %}
            <div class="post">
                <div class="post-title">
                    <a href="{{ post.url }}">
                        <span>{{ post.title }}</span>
                        <span>{{ post.date | date_to_string }}</span>
                    </a>
                </div>
                <div class="excerpt">
                    <p>{{ post.excerpt }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div id="sidebar">
    <ul id='microposts'>
        {% for post in site.posts %}
            {% if post.layout == 'micro' %}
                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

