@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(/assets/fonts/sourcesanspro-light.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/assets/fonts/sourcesanspro-regular.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(/assets/fonts/sourcesanspro-semibold.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(/assets/fonts/sourcesanspro-bold.woff) format('woff');
}

  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/assets/fonts/sourcesanspro.woff) format('woff');
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin-top: 60px;
}

.navbar i {
    line-height: .5em;
}

@media (max-width: 500px) {
    .tagline {
        display: none;
    }
    .pad {
        display: none;
    }
    .span {
        width: 95%;
    }
}

.post {
    padding: 15px 0;
}

.post p {
    padding: 5px 0;
    text-align: justify;
}

.post ol {
    padding: 5px 30px;
}
