<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/prism.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/bijou.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    </head>
    <body>
        <div class='navbar fixed'>
            <div class='container'>
                <h4 class='pull-left'>Les Aker</h4>
                <ul class='pull-right'>
                    <li><a href="https://github.com/{{site.data.social.github}}">github.com/{{site.data.social.github}}</a></li>
                    <li><a href="https://twitter.com/{{site.data.social.twitter}}">twitter.com/{{site.data.social.twitter}}</a></li>
                </ul>
            </div>
        </div>
        {{ content }}
        <script src="/assets/js/prism.js"></script>
    </body>
</html>
