<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' https://www.google-analytics.com https://gist.github.com data: ; connect-src 'self'; img-src 'self'; style-src 'self' https://fonts.googleapis.com https://assets-cdn.github.com 'unsafe-inline'; font-src 'self' https://fonts.gstatic.com">
        <title>{{ page.title }}</title>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
        <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome-files.css">
        <meta name="og:type" content="article" />
        <meta name="og:title" content="{{ page.title }}" />
        <meta name="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta name="og:description" content="{{ site.description }}" />
        <meta name="og:site_name" content="{{ site.name }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="{{ site.data.social.twitter }}" />
        <meta name="twitter:creator" content="{{ site.data.social.twitter }}" />
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
        <meta name="twitter:title" content="{{ page.title }}">
        {% asset fontawesome.css %}
        {% asset bijou.css %}
        {% asset custom.css %}
        {% asset highlighting.css %}
    </head>
    <body>
        <div class="navbar fixed">
            <h4 class="pull-left">Les Aker<span class="tagline">, open source zealot</span></h4>
            <ul class="pull-right">
                {% if page.url != '/' %}
                    <li><a href="/">
                        <i class="fa fa-home fa-3x" title="Blog Home" aria-hidden="true"></i>
                    </a></li>
                {% endif %}
                <li><a href="/rss.xml">
                    <i class="fa fa-rss-square fa-3x" title="RSS Feed" aria-hidden="true"></i>
                </a></li>
                <li><a href="https://github.com/{{site.data.social.github}}">
                    <i class="fa fa-github-square fa-3x" title="github.com/{{site.data.social.github}}" aria-hidden="true"></i>
                </a></li>
                <li><a href="https://twitter.com/{{site.data.social.twitter}}">
                    <i class="fa fa-twitter-square fa-3x" title="twitter.com/{{site.data.social.twitter}}" aria-hidden="true"></i>
                </a></li>
            </ul>
        </div>
        {{ content }}
        <div class="footer">
            <ul>
                <li><a href="https://keybase.io/akerl">Keybase</a></li>
                <li><a href="https://github.com/akerl/blog">Site Source</a></li>
            </ul>
        </div>
    </body>
</html>
{% asset google_analytics.js %}
