* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin-top: 60px;
    background-color: #FAF5EA;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar i {
    line-height: 25px;
}

#row .content {
    width: 70%;
    margin: 0 15% 50px;
}

@media (max-width: 550px) {
    .tagline {
        display: none;
    }
    .post-image {
        display: none;
    }
}

@media (max-width: 700px) {
    .pad {
        display: none;
    }
    #row .content {
        width: 96%;
        margin: 0 2%;
    }
}

.post {
    padding: 15px 0;
}

.post p {
    padding: 5px 0;
    text-align: justify;
}

.post ol,ul {
    padding: 5px 30px;
}

.post .highlight {
    margin: 20px 10px;
    padding: 10px;
}

.post p code {
    background-color: #ffffff;
    padding: 0 5px;
    font-style: italic;
}

.post h1,.post h2,.post h3 {
    padding: 1em 0 0.5em;
}

.post h1 {
    font-size: 1.75em;
}

.post h2 {
    font-size: 1.5em;
}

.post h3 {
    font-size: 1.25em;
}

.footer {
    width: 100%;
    float: left;
}

.footer ul {
    width:100%;
    float: left;
    padding-bottom: 20px;
    text-align:center;
}

.footer li:before {
    content: "|";
    padding: 0 .5em;
}

.footer li:first-child:before {
    content: "";
    padding: 0;
}

.footer li {
        display:inline-block;
}

.post-image {
    float: right;
    padding: 10px 20px;
}

.post-image img {
    -moz-box-shadow: 0px 0px 7px #000000;
    -webkit-box-shadow: 0px 0px 7px #000000;
    box-shadow: 0px 0px 7px #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.post-image a {
    display: block;
    font-size: .75em;
    text-align: center;
}
